
body {
    background-color: #f0f0f0;
}

svg {

}

circle {
    fill: #fff;
    stroke: #ddd;
    cursor: pointer;
    stroke-width: 2px;
}

.node:hover circle {
    fill: #ddd;
}

circle.dragging {
    stroke: #fff;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

.entity text {
    fill: #666;
    font-weight: bold;
    cursor: pointer;
}

.entity text.title {
    font-family: sans-serif;
}

.link line {
    stroke: #ccc;
    stroke-width: 3px;
    cursor: pointer;
}
