
body {
    background-color: #f0f0f0;
}

svg {

}

circle {
    fill: pink;
    stroke: #fff;
    cursor: pointer;
    stroke-width: 2px;
}

circle:hover {
    fill: red;
}

circle.dragging {
    stroke: #ddd;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

text {
    fill: #666;
    font-weight: bold;
}

.link line {
    stroke: #ddd;
    stroke-width: 3px;
    cursor: pointer;
}
